<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="hcs ion-padding">
      <ion-img src="assets/icon/agrelo-elevators-logo.jpg" class="ion-margin"></ion-img>
      <span>  Agrelo Elevators</span>
      </div>
      </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-padding">{{'measurement.create_new_measurement' | translate}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/calculate" routerDirection="forward">
    {{'measurement.create' | translate}}
  </ion-button>
</ion-content>
